html {
	background: #efefef;
}

body {
	max-width:80%;
	margin: 50px auto;
	padding: 50px;
	background:#fff;
	font: 16px/1.5 "Open Sans", Helvetica, Arial, sans-serif;
}

*, *:after, *:before {
	box-sizing: border-box;
}

a {
	color: #00B7FF;
}

/**
 * Header
 */

.post-link-form,
.account-info {
	width: 50%;
	float: left;
}

.account-info {
	text-align: right;
}



/**
 * Post Link Form
 */

.post-link-form__label {
	margin-right: 20px;
}

input {
	height: 24px;
	line-height: 24px;
	margin: 0;
	padding: 0 4px;
	border: 1px solid #bbb;
	box-sizing: border-box;
}

input[type=submit] {
	border-color: #aaa;
	background: #aaa;
	margin-left: 10px;
	color: #fff;
	cursor: pointer;
}

/**
 * Footer
 */

.footer {
	margin-top: 4em;
}

/**
 * Content
 */

.content {
	clear: both;
}

/**
 * Link Styling
 */

.link {
	padding: 1em;
	overflow: hidden;
	clear: both;
}

.link:nth-child(odd) {
	background-color: #efefef;
}

.link__votes {
	float: left;
	text-align: center;
	margin-right: 1em;
}

.link__vote {
	display: block;
}

.link__vote--count {
	font-size: 2em;
}

.link__title {
	margin:0 0 10px;
}

.link__author,
.link__date {
	display: block;
	float: left;
}

.link__author {
	margin-right: 1em;
}